@import '../../styles/variables';

.step-project{
    height: 100vh;
    width: 100vw;
}

.step-project:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    bottom: 5%;
    background-color: $projectsLight;
  }

.project-logo {
    display: inline-block;
    max-width: 75px;
}
.project-list-logos{
    display: flex;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-logo img{
    width: 100%;
    z-index: 100;
    position: relative;
}

.project-footer {
    position: absolute;
    bottom: 5%;
}