/* COLORS */

$helloBackground: #8BC0DD;
$projectsBackground: #2AC621;
$projectsLight: #C4EFC2;
$experienceBackground: #FCBF49;
$experienceLight: #FEEDCD;
$studyBackground: #009688;
$studyLight: #8BCFC8;
$personalBackground: #E46A6A;
$personalLight: #F3BFBF;
$textColorPrimary: #fff;
$black: #000;

/* fonts */

$sans: 'Oswald', sans-serif;
$serif: 'Roboto Slab', serif;